@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

/* body, h1, h2, h3, p, .about, .desc, .desc1 {
    font-size: 1rem;
    line-height: 1.5;
} */

::-webkit-scrollbar {
    width: 12px; /* You can adjust the width to your liking */
    background-color: #f2f2f2; /* Background color of the track */
}

/* Define the color and style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #c27fff; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #f2f2f2; /* Optional: Border around the thumb for better contrast */
}

/* Define the style when hovering over the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #a45ff9; /* Darker shade for hover effect */
}


body{
    background: black;
    background-attachment: fixed;
    min-height: 100vh;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    padding-bottom: 25px;
}

.home_body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(39, 39, 39, 1), transparent);
    z-index: 100;
    transition: top 0.3s;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.nav.hidden {
    top: -100px;
}

.nav-logo p {
    color: #c27fff;
    font-size: 25px;
    font-weight: 600;
}

.nav-logo a {
    text-decoration: none;
    color: #c27fff;
}

.hamburger {
    display: none; 
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    margin: 0;
    list-style: none;
    padding-right: 250px;
}

.nav-menu ul li {
    margin-left: 20px;
    display: inline-block;
    position: relative;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
}

.nav-menu li a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

.link.active {
    color: #c27fff;
    border-bottom: 2px solid #8A2BE2FF;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #c27fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333; 
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
    top: 100%; 
    left: 0;
}

.dropdown-menu .dropdown-item {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.footer{
    background: black;
}
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    margin-top: 25px;
}
.footer-content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: purple;
}
.footer-content p {
    margin: 0;
}
.social-links a {
    color: purple;
    margin-right: 10px;
    font-size: 28px;
}

.link.active{
    color: #c27fff;
    border-bottom: 2px solid #8A2BE2FF;
}

h1{
    color: white;
    /* padding-left: 40px; */
}
h2{
    color: #c27fff;
    padding-bottom: 25px;
}
h3{
    color: black;
}
p{
    font-weight: 400;
}

.main_body{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.max-size {
    max-width: 1100px;
}

.home_body {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 100px;
    /* align-items: center; */
}

.home_body img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.contact {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.contact a {
    color: #c27fff;
    text-decoration: none;
}

.about {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.about a {
    color: #c27fff;
    text-decoration: none;
    transition: color 0.3s;
}

.about a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

.artist-text {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.artist-text a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.artist-text a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

.desc{
    padding-top: 5px;
    color: black;
}

.col2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.images{
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    align-content: center;
    justify-content: center;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
}
.image-grid img {
    width: 100%;
    height: 100%; /* Maintain aspect ratio */
    display: block; /* Ensures no extra space around the image */
    border-radius: 8px;
}

.image-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Ensure image does not overflow its container */
}

.image-container a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}
.image-container a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

.image-container-ease {
    text-align: center;
    position: relative;
    cursor: pointer;
    margin: 25px;
}

.image-container-ease img {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.image-container-ease img:hover {
    transform: scale(1.05);
}

.image-container-ease a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.image-container-ease a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

.image-text {
    margin-bottom: 10px;
    color: white;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.overlay-text {
    color: white;
    font-size: 18px;
    text-align: center;
}

.artist-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0;
}
.artist-grid img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.instagram-link {
    display: flex;
    align-items: center; /* Vertically centers the icon and handle */
    justify-content: center;
    text-decoration: none; /* Removes underline from the link */
    color: white; /* Set a consistent color for the link text */
}

.services{
    margin-top: 50px;
    background-color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 25px;
}
.text-box {
    margin-left: 10px;
    width: 49%;
    box-sizing: border-box; 
    padding-left: 20px;
    padding-right: 20px;
}
.text-box1 {
    margin-left: 10px;
    width: 50%;
    box-sizing: border-box; 
    padding: 20px;
    flex: 1; 
}
.text-box2{
    margin-top: 0;
    padding: 0;
}

.services_box{
    display: flex;
    flex-direction: column;

}
.shop-info {
    margin-top: 25px;
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the top */
    padding: 25px;
}

.directions {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 20px; 
}

.col1 {
    flex: 1;
    min-width: 300px;
}
.col1 iframe {
    width: 100%; 
    height: 450px; 
    border: 0;
}

.desc1 {
    color: black;
    margin-top: 10px;
    font-size: 16px; /* Adjust font size for mobile */
}

.services-info{
    background-color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}
.info{
    display: inline-flex;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding-left: 25px;
    padding-right: 25px;
}

.time-day,
.time-hour {
    display: inline-block;
}

.time-day {
    width: calc(50% - 12.5px); /* 50% width minus half of the gap */
    text-align: left;
}

.time-hour {
    width: calc(50% - 12.5px); /* 50% width minus half of the gap */
    text-align: right;
    padding-left: 25px; /* Ensures 25px gap between day and time */
}

.artist-contact {
    width: 50%
}

/* Image carousel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: 0;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "prev button" to the left */
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}
.text a:hover {
    color: #c27fff;
    transition: .3s ease-out;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow_active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.image-overlay .overlay-text a {
    color: white; 
    text-decoration: none; 
}

.image-overlay .overlay-text a:hover {
    text-decoration: underline;
}

.artist-image-container {
    text-align: center;
    position: relative;
}

.full-container {
    /* border: 2px solid #c27fff; */
    box-sizing: border-box;
    width: 100%;
    /* max-width: 800px;  */
    margin: 0 auto; 
    padding: 20px; 
    background-color: white;
}

form {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    padding-top: 25px;
}

.form-group-consult {
    flex: 0 0 48%;
    margin-bottom: 15px;
}

.item {
    width: 100%; 
    padding: 10px;
    border: 2px solid #c27fff;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
}

.item[type="date"] {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;         
    width: 100%;
}

.item:focus {
    border-color: #c27fff;
    outline: none;
}

.item.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    display: none;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button {
    padding: 10px 20px;
    background-color: #c27fff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    width: auto;
    font-size: 16px;
}

button:hover {
    background-color: darkviolet;
}

.time-container {
    box-sizing: border-box;
    width: 25%;
    max-width: 400px;
    color: white;
    padding: 0 25px; 
    /* background-color: darkgray; */
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        right: 0;
        background: rgba(39, 39, 39, 0.9);
        width: 50%;
        padding: 20px;
    }

    .nav-container {
        display: flex;
        justify-content: space-between; /* Ensures space between logo and menu */
        align-items: center;
        max-width: 1100px;
        margin: 0 auto; /* Centers the content */
        width: 100%;
        padding: 0 20px; /* Adds padding on the sides */
    }

    .nav-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }

    .nav-menu ul li .link {
        padding: 10px 0;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        display: none;
    }

    .dropdown-menu.show {
        display: block; 
    }

    .hamburger {
        display: block;
    }

    .nav-menu.show {
        display: flex;
    }

    .home_body {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; 
        text-align: center; /* Center align text */
    }

    .text-box1 {
        margin-left: 0; /* Reset margin for mobile */
        width: 100%; /* Full width for text box */
        padding: 10px; /* Adjust padding for mobile */
    }

    .about {
        padding-left: 0; /* Reset padding for mobile */
        font-size: 14px; /* Slightly smaller font size for mobile */
    }

    .home_body img {
        margin-bottom: 20px; /* Space between image and text */
    }

    p {
        font-weight: 400;
        font-size: 14px;
    }

    .image-container-ease {
        width: 100%; /* Make containers responsive */
        max-width: 300px; /* Limit the max width for better appearance */
        margin: 10px 0; /* Space between items */
        display: flex;
        flex-direction: column; /* Stack text and image vertically */
        align-items: center; /* Center contents horizontally */
        text-align: center; /* Center text inside containers */
    }

    .image-container-ease img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        border-radius: 8px;
    }

    .image-text {
        font-size: 16px; /* Adjust font size for mobile */
        color: white;
        margin-bottom: 10px;
    }

    .image-container-ease a {
        font-size: 16px; /* Adjust font size for mobile */
        color: #f2f2f2;
        text-decoration: none;
        transition: color 0.3s;
    }

    .image-container-ease a:hover {
        color: #c27fff;
        transition: .3s ease-out;
    }

    .image-container-ease a i {
        font-size: 16px; /* Adjust icon size for mobile */
        margin-right: 8px;
    }

    .artist-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0;
        align-items: center;  /* Align items vertically in the center */
        justify-content: center; /* Center items horizontally */
    }
    .artist-grid img {
        width: 100%;
        height: 250px;
        border-radius: 8px;
    }

    .col1 iframe {
        height: 300px;
    }

    .text-box {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
    }

    .prev, .next {
        font-size: 14px;
        padding: 12px;
    }

    .dot {
    height: 10px;
    width: 10px;
    }

    .artist-contact {
        width: 100%;
        font-size: 14px;
    }

    .form-group-consult {
        justify-content: center;
    }

    .time-container {
        box-sizing: border-box;
        width: 100%;
        color: white;
        padding: 0 25px; 
        /* background-color: darkgray; */
    }
}